<a href="https://colab.research.google.com/github/atharvak25/python-week-1/blob/main/PYTHON_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SECTION A :- FUNDAMENTALS OF PYTHON
1. Write a Python program to print “Hello Python”

print("hello python")

hello python

In [ ]:
2. Write a Python program to do arithmetical operations addition and division.?

num1 = input('Enter first number: ')  
num2 = input('Enter second number: ')  
sum = float(num1) + float(num2)
print(sum)
div = float(num1) / float(num2)
print(div)

Enter first number: 10
Enter second number: 15
25.0
0.6666666666666666

In [ ]:
3. Write a Python program to find the area of a triangle?

a = float(input('Enter first side: '))  
b = float(input('Enter second side: '))  
area = 0.5*a*b
print(area)

Enter first side: 10
Enter second side: 15
75.0

In [ ]:
4. # Write a Python program to swap two variables?

P = int( input("Please enter value for P: "))  
Q = int( input("Please enter value for Q: "))

temp_1 = P  
P = Q  
Q = temp_1  
   
print ("The Value of P after swapping: ", P)  
print ("The Value of Q after swapping: ", Q)

Please enter value for P: 35
Please enter value for Q: 45
The Value of P after swapping:  45
The Value of Q after swapping:  35

In [ ]:
5. Write a Python program to generate a random number?

import random  
n = random.random()  
print(n)

0.6794509039364464

In [ ]:
# SECTION B :-

In [ ]:
# 1. Write a Python program to convert kilometers to miles?

kilometre_1 = float (input ("Please enter the speed of car in Kilometre as a unit: "))  
conversion_ratio_1 = 0.621371  
miles_1 = kilometre_1 * conversion_ratio_1  
print ("The speed value of car in Miles: ", miles_1)

Object `miles` not found.
Please enter the speed of car in Kilometre as a unit: 55
The speed value of car in Miles:  34.175405

In [ ]:
# 2. Write a Python program to convert Celsius to Fahrenheit?

celsius_1 = float(input("Temperature value in degree Celsius: " ))  
Fahrenheit_1 = (celsius_1 * 1.8) + 32  
print('The %.2f degree Celsius is equal to: %.2f Fahrenheit'  
      %(celsius_1, Fahrenheit_1))

Object `Fahrenheit` not found.
Temperature value in degree Celsius: 69
The 69.00 degree Celsius is equal to: 156.20 Fahrenheit

In [ ]:
3. #Write a Python program to display calendar?

import calendar

y = 2022

print(calendar.calendar(y))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
4. # Write a Python program to solve quadratic equation?

import cmath  
a = float(input('Enter a: '))  
b = float(input('Enter b: '))  
c = float(input('Enter c: '))

d = (b**2) - (4*a*c) 

sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)  
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 6
Enter b: 9
Enter c: 4
The solution are (-0.75-0.3227486121839514j) and (-0.75+0.3227486121839514j)

In [ ]:
5. # Write a Python program to swap two variables without temp variable?

P = 112  
Q = 211  
   
print ("Variables Value Before Swapping: ")  
print ("Value of P: ", P)   
print ("Value of Q: ", Q)  
   
# Method to swap 'P' and 'Q'  
P = P + Q # P = 323, Q = 211  
Q = P - Q # P = 323, Q = 112  
P = P - Q # P = 211, Q = 112  
   
print ("Variables Value After Swapping: ")  
print ("Value of P: ", P)   
print ("Value of Q: ", Q)

Variables Value Before Swapping:
Value of P:  112
Value of Q:  211
Variables Value After Swapping:
Value of P:  211
Value of Q:  112

In [ ]:
# Section C:

1. # Write a Python Program to Check if a Number is Positive, Negative or Zero?

def NumberCheck(a):   
    if a > 0:   
        print("Number given by you is Positive")   
      
    elif a < 0:   
        print("Number given by you is Negative")   
      
    else:   
        print("Number given by you is zero")  
  
a = float(input("Enter a number as input value: "))  
  
NumberCheck(a)

Enter a number as input value: 28
Number given by you is Positive

In [ ]:
2. # Write a Python Program to Check if a Number is Odd or Even?

num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))

Enter a number: 45
45 is Odd number

In [ ]:
3. # Write a Python Program to Check Leap Year?

def CheckLeap(Year):  
   
  if((Year % 400 == 0) or  
     (Year % 100 != 0) and  
     (Year % 4 == 0)):   
    print("Given Year is a leap Year");  

  else:  
    print ("Given Year is not a leap Year")  
  
Year = int(input("Enter the number: "))  
  
CheckLeap(Year)

Enter the number: 2043
Given Year is not a leap Year

In [ ]:
4. # Write a Python Program to Check Prime Number?

def PrimeChecker(a):  
    
    if a > 1:  
         
        for j in range(2, int(a/2) + 1):  
             
            if (a % j) == 0:  
                print(a, "is not a prime number")  
                break  
          
        else:  
            print(a, "is a prime number")  
    
    else:  
        print(a, "is not a prime number")  
  
a = int(input("Enter an input number:"))  

PrimeChecker(a)

Enter an input number:47
47 is a prime number

In [ ]:
5. # Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 56
Please, Enter the Upper Range Value: 89
The Prime Numbers in the range are:
59
61
67
71
73
79
83
89

In [ ]:
# Section D:
1. # Write a Python Program to Find the Factorial of a Number?

num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 56
The factorial of 56 is 710998587804863451854045647463724949736497978881168458687447040000000000000

In [ ]:
2. # Write a Python Program tTo Display the multiplication Table?

number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 53
The Multiplication Table of:  53
53 x 1 = 53
53 x 2 = 106
53 x 3 = 159
53 x 4 = 212
53 x 5 = 265
53 x 6 = 318
53 x 7 = 371
53 x 8 = 424
53 x 9 = 477
53 x 10 = 530

In [ ]:
3. # Write a Python Program to Print the Fibonacci sequence?

n_terms = int(input ("How many terms the user wants to print? "))  
  
  
n_1 = 0  
n_2 = 1  
count = 0  
  
  
if n_terms <= 0:  
    print ("Please enter a positive integer, the given number is not valid")  
  
elif n_terms == 1:  
    print ("The Fibonacci sequence of the numbers up to", n_terms, ": ")  
    print(n_1)  
  
else:  
    print ("The fibonacci sequence of the numbers is:")  
    while count < n_terms:  
        print(n_1)  
        nth = n_1 + n_2  
        
        n_1 = n_2  
        n_2 = nth  
        count += 1

How many terms the user wants to print? 63
The fibonacci sequence of the numbers is:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881

In [ ]:
4. # Write a Python Program to Check Armstrong Number?

num = int(input("Enter a number: "))

sum = 0


temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10


if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 567
567 is not an Armstrong number

In [ ]:
6. # Write a Python Program to Find the Sum of Natural Numbers?

num = int(input("Enter a number: "))  
  
if num < 0:  
   print("Enter a positive number")  
else:  
   sum = 0  
   # use while loop to iterate un till zero  
   while(num > 0):  
       sum += num  
       num -= 1  
   print("The sum is",sum)

Enter a number: 58
The sum is 1711

In [ ]:
# Section E:
1. # Write a Python Program to find sum of array?

    
arr = [1, 2, 3, 4, 5];     
sum = 0;    
     
    
for i in range(0, len(arr)):    
   sum = sum + arr[i];    
     
print("Sum of all the elements of an array: " + str(sum));

Sum of all the elements of an array: 15

In [ ]:
2. # Write a Python Program to find largest element in an array?

    
arr = [25, 11, 7, 75, 56];     
     
    
max = arr[0];    
     
    
for i in range(0, len(arr)):    
        
   if(arr[i] > max):    
       max = arr[i];    
           
print("Largest element present in given array: " + str(max));

Largest element present in given array: 75

In [ ]:
3. # Write a Python Program for array rotation?

     
arr = [1, 2, 3, 4, 5];     
    
n = 3;    
     
    
print("Original array: ");    
for i in range(0, len(arr)):    
    print(arr[i]),     
     
    
for i in range(0, n):    
        
    first = arr[0];    
        
    for j in range(0, len(arr)-1):    
            
        arr[j] = arr[j+1];    
            
        
    arr[len(arr)-1] = first;    
     
print();    
     
    
print("Array after left rotation: ");    
for i in range(0, len(arr)):    
    print(arr[i]),

Original array:
1
2
3
4
5

Array after left rotation:
4
5
1
2
3

In [ ]:
4. # Write a Python Program to Split the array and add the first part to the end?

def splitArr(arr, n, k): 
    for i in range(0, k): 
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
          
        arr[n-1] = x
          
  
# main
arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
  
splitArr(arr, n, position)
  
for i in range(0, n): 
    print(arr[i], end = ' ')

5 6 52 36 12 10

In [ ]:
5. # Write a Python Program to check if given array is Monotonic?

def isMonotonic(A):
    x, y = [], []
    x.extend(A)
    y.extend(A)
    x.sort()
    y.sort(reverse=True)
    if(x == A or y == A):
        return True
    return False
 
 

A = [6, 5, 4, 4]
 

print(isMonotonic(A))

True

In [ ]:
# Section F:
1. # Write a Python program to find sum of elements in list?


 
total = 0
 

list1 = [11, 5, 17, 18, 23]
 

for ele in range(0, len(list1)):
    total = total + list1[ele]
 

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
2. # Write a Python program to Multiply all numbers in the list?

def multiplyList(myList):
 
   
    result = 1
    for x in myList:
        result = result * x
    return result
 
 

list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [ ]:
3. # Write a Python program to find smallest number in a list?

list1 = [10, 20, 4, 45, 99]
 

list1.sort()
 

print("Smallest element is:", list1[0])

Smallest element is: 4

In [1]:
4. # Write a Python program to find largest number in a list?


list1 = [10, 20, 4, 45, 99]


list1.sort()


print("Largest element is:", list1[-1])

Largest element is: 99

In [2]:
5. # Write a Python program to find second largest number in a list?


list1 = [10, 20, 4, 45, 99]

mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
	if list1[i] > mx:
		secondmax = mx
		mx = list1[i]
	elif list1[i] > secondmax and \
		mx != list1[i]:
		secondmax = list1[i]
	elif mx == secondmax and \
		secondmax != list1[i]:
		secondmax = list1[i]

print("Second highest number is : ",\
	str(secondmax))

Second highest number is :  45

In [3]:
6. # Write a Python program to find N largest elements from a list?


def Nmaxelements(list1, N):
	final_list = []

	for i in range(0, N):
		max1 = 0
		
		for j in range(len(list1)):	
			if list1[j] > max1:
				max1 = list1[j];
				
		list1.remove(max1);
		final_list.append(max1)
		
	print(final_list)


list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2


Nmaxelements(list1, N)

[85, 41]

In [4]:
7. # Write a Python program to print even numbers in a list?


list1 = [10, 21, 4, 45, 66, 93]


for num in list1:


	if num % 2 == 0:
		print(num, end=" ")

10 4 66

In [6]:
8. # Write a Python program to print odd numbers in a List?



list1 = [10, 21, 4, 45, 66, 93]
i = 0

while(i < len(list1)):


	if list1[i] % 2 != 0:
		print(list1[i], end=" ")

	
	i += 1

21 45 93

In [7]:
9. # Write a Python program to Remove empty List from List?


test_list = [5, 6, [], 3, [], [], 9]


print("The original list is : " + str(test_list))


res = [ele for ele in test_list if ele != []]


print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [8]:
10. # Write a Python program to Cloning or Copying a list?


def Cloning(li1):
	li_copy = li1[:]
	return li_copy



li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [9]:
11. # Write a Python program to Count occurrences of an element in a list?


def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count



lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
										countX(lst, x)))

8 has occurred 5 times